body {
    padding: 0;
    margin: 0;
    background: #3c6382;
    font-size: 20px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

.top {
    text-align: center;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 48px;
}

h3 {
    color: #b8e994;
    margin: 40px;
}

    h3:nth-child(3) {
        color: #fc5025;
    }

.middle {
    text-align: center;
    /*padding: 10px;*/
    margin: 10px;
    margin-top: 0px;
}

#input {
}

    #input[type="text"] {
        margin: 2px;
        border: 2px solid #0c2461;
        outline: none;
    }


#btn {
    padding: 0;
}

.to-do {
    text-align: center;
    background: #82ccdd;
    border: 2px solid #0c2461;
    border-radius: 20px;
    padding: 12px;
    margin: 1px;
}

.center {
    justify-content: center;
}

.new {
    padding: 0;
    margin: 0;
    background: #3c6382;
    color: ghostwhite;
}

    .new:hover {
        color: #b8e994;
    }
